.canvas-wrapper {
    text-align: center;
}

.control-bar {
    position: absolute;
    display: block;
    width: 225px;
    height: 110px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.control-bar input {
    font-size: 20px;
    display: block;
    margin: 5px;
}
